<!-- 友链页面 -->

<style>
.mdl-card.sidebar-card_friend{
    padding: 20px;
    width:auto;
    overflow: hidden;
    padding-top: 10px;
}
.mdl-card.sidebar-card_friend h6{
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue";
    margin: 0 auto;
}
.mdl-card.sidebar-card_friend a{
    color: black;
    text-decoration-line: none;
    font-family: Roboto, "Helvetica Neue";
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    white-space: nowrap;
    word-break: keep-all;
    margin: 8px 4px;
    font-size: 13px;
}
.mdl-card.sidebar-card_friend a:hover {
    color: #00838F;
}
.mdl-card.sidebar-card_friend a::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #00838F;
    left:-8px;
    top:8px;
}
#friend-content{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
</style>
<% if(config.friend) { %>
    <div class="mdl-card sidebar-card_friend">
        <h6>友情链接</h6>
        <div id="friend-content">
            <% config.friend.forEach(function(item){ %>
                <a href=<%= item.href%>
                    target="_blank"  
                    rel="noopener" 
                 >
                    <%= item.title%>
                </a>  
        <% }) %>
        </div>

    </div>
<% } %>