<style>
    .material-aword_container {
        padding: 2rem 4rem;
    }

    .material-aword_head {
        text-align: center;
    }

    .material-aword_container ul {
        list-style-type: none;
        padding: 0;
        font-size: 1pc;
        font-weight: 400;
        color: #757575!important
    }

    .material-aword_container .material-aword_li {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem 0;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .material-aword_container .material-aword_li .material-aword_time {
        font-size: 0.8pc;
        align-self: flex-end;
        padding-top: 1rem;
        padding-right: 3rem;
    }

    .material-aword_container .material-aword_li:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }



</style>


<div class="material-aword_container">
    <h4 class="material-aword_head">零碎想法</h4>
    <ul class="">
        <% if (site.data.aword) { %>
            <% for (var i in site.data.aword) { %>
                <li class="material-aword_li mdl-shadow--2dp fade">
                    <div><%= site.data.aword[i].word %></div>
                    <div class="material-aword_time">- <%= new Date(site.data.aword[i].timestamp || null).toLocaleString('zh-CN') %></div>
                </li>
                <% } %>
                    <% } %>
    </ul>
</div>